.snow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.snow {
  position: absolute;
  top: var(--random-top, -100px);
  left: var(--random-left, 0); /* Use the custom property for left position */
  width: 5px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  --animation-delay: 0s; /* Set the default animation delay to 0s */
  animation: snow var(--animation-duration, 10s) linear infinite var(--animation-delay, 0s);
  transform-box: fill-box;
}

.snow-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.snow-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: snow 5s ease-in-out infinite;
  z-index: 2;
}

.snow-drop {
  position: absolute;
  bottom: 100%;
  width: 1px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  animation: snow-drop 2s ease-in infinite;
}

@keyframes snow {
  0% {
    transform: translate(-50%, 0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, 50vh) rotate(5deg);
  }
  100% {
    transform: translate(-50%, 100vh) rotate(-5deg);
    opacity: 0;
  }
}

@keyframes snow-drop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.snow:nth-child(n+1):nth-child(-n+36) {
  animation-delay: calc(0.2s * (n - 1));
  left: calc(10% * (n - 1) + 15%);
  top: calc(-100px * (n - 1) + 15%);
}