.weather-output {
  width: 500px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative; /* add this */
  z-index: 1; /* add this */
}

@media (max-width: 500px) {
  .weather-output {
    width: 100%;
  }
}
  
.weather-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail {
  margin: 10px;
  width: calc(50% - 20px);
}

.detail label {
  font-weight: bold;
  margin-right: 10px;
}

.detail span {
  font-size: 18px;
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 200px; /* Add this line */
  z-index: 1;
}

.search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

